body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
}

/* Container Size */
#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  border: 1px solid #000000;
}

/* Header */
header {
  width: 600px;
  height: 167px;
  background-image: url("/img/Burger-Header.png");
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0 0px 40px;
}

#header-title {
  font-size: 39px;
  font-weight: 100;
  margin: 0 0 19px 0;
  line-height: 0.7;
  box-sizing: border-box;
}

#header-subtitle {
  font-size: 22px;
  font-weight: 100;
  margin: 0;
  line-height: 0.6;
}

/* Menu */
#menu {
  display: flex;
  flex-direction: column;
  margin: 22px 46px 0px 46px;
  color: #000000;
}

.menu-item-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  padding: 45px 0 50px 0;
  width: 100%;
}

.menu-item {
  display: flex;
  flex-direction: row;
}

.menu-emoji {
  font-size: 78px;
}

.menu-text-container {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item-name {
  font-size: 28px;
  /* margin: 7px 0 6px 0; */
  margin: 0;
}
.menu-item-description {
  font-size: 16px;
  margin: 0;
  color: #8b8b8b;
  /* margin: 0px 0 6px 0; */
  margin: 0;
}
.menu-item-price {
  font-size: 20px;
  margin: 0;
}

.add-item-btn {
  background: none;
  border: 1.5px solid #dedede;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 200;
  color: #3c3c3c;

  padding-bottom: 4px;
}

.add-item-btn:hover {
  background-color: #dedede;
  cursor: pointer;
}

/* Cart Items */
#cart {
  display: none;
  flex-direction: column;
  margin: 45px 46px 53px 46px;
  color: #000000;
}

#cart-html {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#your-order {
  font-size: 28px;
  margin: 0 auto 56px auto;
}

.cart-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-items {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.cart-remove-btn {
  background: none;
  border: none;
  font-size: 12px;
  color: #bbbbbb;
  cursor: pointer;
  padding: 0;
  /* margin: auto 0; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart-remove-btn:hover {
  text-decoration: underline;
}

/* Line Break */
.line-break {
  border: none;
  border-bottom: 2px solid #393333;
  margin: 20px 0 10px 0;
}

.total-price-text {
  font-size: 28px;

  margin: 0;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#complete-order-btn {
  background-color: #16db99;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 3px;
  padding: 18px 0;
  font-size: 16px;
  margin-top: 50px;
}

#complete-order-btn:hover {
  background-color: #12a06c;
  cursor: pointer;
}

/* Payment Modal */
#payment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

#modal-content {
  width: 525px;
  background-color: #ffffff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 4px;
}

#modal-content h2 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 0 30px 0;
  margin: 0;
}

#payment-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 30px;
  width: 100%;
  border-radius: 4px;
}

#payment-form input {
  font-size: 20px;
  padding: 24px 0 24px 22px;
}

#pay-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: #16db99;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 24px 0;
  margin-top: 22px;
}

#pay-btn:hover {
  background-color: #12a06c;
  cursor: pointer;
}

#order-message {
  display: none;
  font-size: 28px;
  color: #000000;
  background-color: #ecfdf5;
  margin: 45px 46px 200px 46px;
}

#order-message p {
  padding:  51px 62px ;
  color: 065F46;
  margin: auto;
}
